.Button {
  background-color: #000;
  color: #fff;
  @include center-row();
  border-radius: $bord-rad-def;
  font-size: $heading1;
  gap: 8px;
  &.iconLeft {
    flex-direction: row-reverse;
  }
  &.border {
    border: $border-def black;
    background-color: transparent;
  }
  &.xl {
    padding: $padding-xl;
  }
  &.m {
    padding: $padding-l;
    font-size: $heading2;
  }
  &.s {
    padding: $padding-m;
    font-size: $heading3;
  }
}
