* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  background-color: $lightest-color;

  font-family: $fontPrimary;
}
.container {
  width: 500px;
  @include center-column();
  margin: $margin-center;
  height: 500px;
  padding: 30px;
  font-family: $fontSecondary;
  background-color: $darkest-color;
  @include xs {
    background-color: $fourth-dark-color;
  }
  @include xs {
    background-color: $third-dark-color;
  }
  @include sm {
    background-color: $second-dark-color;
  }
  @include md {
    background-color: $middle-color;
  }
  @include lg {
    background-color: $second-light-color;
  }
  @include xl {
    background-color: $third-light-color;
  }

  .title {
    margin: 0;
    @include center-row();

    color: $darkest-color;
    font-size: $size;
  }
}
.list {
  font-size: rem(20px);
  width: $width-all;
  margin: $margin-center;
  @include center-row();
  justify-content: space-evenly;
  gap: 100px;
  list-style-type: none;
  li {
    padding: $padding-def;
    border: $border-def;
    border-radius: $bord-rad-def;
    &:hover {
      background-color: $darkest-color;
      color: $lightest-color;
    }
  }
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wrapper {
  width: 100%;
}

.button__default {
  display: flex;
}
.button__ {
  display: flex;
}
