$darkest-color: #03045e;
$fourth-dark-color: #023E8A;
$third-dark-color: #0077B6;
$second-dark-color: #0096C7;
$middle-color: #00b4d8;
$second-light-color: #48CAE4;
$third-light-color: #90E0EF;
$fourth-light-color: #ADE8F4;
$lightest-color: #caf0f8;



